body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

#home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceIcon {
  padding: 20px;
  border-radius: 50%;
  background: #DFF6FF;
}

.py-5 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

nav .navbar-nav>a:after {
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #1363DF 0%, #47B5FF 100%);
  content: "";
  transition: width 0.2s;
}

nav .navbar-nav>a:hover:after {
  width: 100%;
}

nav .navbar-nav>.active:after {
  display: block !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #1363DF 0%, #47B5FF 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
